$text-color: hsl(300, 43%, 22%);
$review-background: hsl(300, 43%, 22%);
$review-text: hsl(0, 0%, 100%);
$rated-background: hsl(300, 24%, 96%);
$banner-color: hsl(303, 10%, 53%);
$verified-text: hsl(333, 80%, 67%);
$mobile-breakpoint: 375px;
$desktop-breakpoint: 1440px;
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 16px;
}
body {
  min-height: 100vh;
  position: relative;
  color: $text-color;
  font-size: calc(1rem - 1px);
}
.container {
  display: grid;
}
.mission {
  color: $banner-color;
}
.rates {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  &__rated {
    display: flex;
    background-color: $rated-background;
    width: 90%;
    padding: 0.6rem 0;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
  }
  &__rated::before {
    content: "";
    display: block;
    width: 100px; //fixed width desired
    height: 1rem;
    background-image: url("../images/icon-star.svg");
    background-repeat: space no-repeat;
  }
}

.reviewsContainer {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.reviews {
  background-color: $review-background;
  color: $review-text;
  display: grid;
  grid-template-areas:
    "picture name"
    "picture verified"
    "review review";
  grid-template-columns: auto 1fr;
  padding: 2.5rem 1.5rem;
  border-radius: 0.5rem;

  &__picture {
    border-radius: 50%;
    grid-area: picture;
    margin-right: 2rem;
    width: 3rem;
  }
  &__name {
    grid-area: name;
  }
  &__verified {
    grid-area: verified;
    color: $verified-text;
  }
  &__review {
    grid-area: review;
    margin-top: 1rem;
  }
}

.attribution {
  position: absolute;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 1rem;
  }
  .bannerText {
    padding: 1rem;
    margin-top: 2rem;
    text-align: center;
  }
  .mission {
    text-align: center;
  }
  .rates {
    margin-bottom: 2rem;
  }
  .rates {
    &__rated {
      flex-flow: column nowrap;
      row-gap: 0.5rem;
    }
  }
}
@media screen and (min-width: 1000px) {
  .container {
    display: grid;
    grid-template-areas:
      "bannerText rates"
      "mission rates"
      "reviewsContainer reviewsContainer";
    padding: 4% 10%;
  }
  .bannerText {
    grid-area: bannerText;
    width: 70%;
  }
  .mission {
    grid-area: mission;
    width: 70%;
  }
  .rates {
    grid-area: rates;
    align-items: flex-start;
    &__rated {
      display: flex;
      max-width: 70%;
      padding: 1rem;
      &:nth-child(2) {
        align-self: center;
      }
      &:last-of-type {
        align-self: flex-end;
      }
      &::before {
        margin-right: 2rem;
      }
    }
  }
  .reviewsContainer {
    grid-area: reviewsContainer;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-height: 100%;
  }
  .reviews {
    max-width: 30%;
    max-height: 90%;
    &:nth-child(2) {
      align-self: center;
    }
    &:last-of-type {
      align-self: flex-end;
    }
  }
}
